@model IEnumerable<Proyecto.Models.Requerimiento>


<H2>@ViewBag.Proyecto</H2>
<H3>@ViewBag.Modulo</H3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complejidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracionEstimada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracionReal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>

        </tr>
    }
</table>

<div class="botones text-center">
        <a href="~/Moduloe/Index" class="btn btn-default">
       Regresar
    </a>
</div>