<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <style>
        .crema {
            background: #f7e4be;
            color: black;
            border-color: #5B3924;
            border-width: 3px;
            border-style: solid;
        }
    </style>
</head>
<body onload="Desabilitar();" style="background-color: white">

    <h2 style="text-align:center">Reportes</h2>
    <div class="botones text-center">
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Disponibilidad de desarrolladores en proyectos</button>
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Estado del desarrollo de requerimientos por desarrollador</button>
    </div>

    </br>
    </br>
    <div class="botones text-center">
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Total de requerimientos y su estado</button>
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Consultar periodos de desocupación</button>
    </div>

    </br>
    </br>


    <div class="botones text-center">
        <button onclick="location.href = '@Url.Action("", "Reporte/TiemposRequerimiento")'" class="btn  Desarrollador Cliente crema">Comparación tiempos reales y estimados por Requerimiento</button>
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">conocimientos más frecuentes en un rango de tempo </button>
    </div>

    </br>
    </br>

    <div class="botones text-center">
        <button onclick="location.href = '@Url.Action("", "Reporte/HorasProyecto")'" class="btn  Desarrollador Cliente crema">Total de Horas estimadas y reales por proyecto</button>

        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Estado y responsable de cada requerimiento </button>
    </div>
    </br>
    </br>

    <div class="botones text-center">
        <button onclick="location.href = '@Url.Action("", "Reporte/Historial")'" class="btn  Desarrollador Cliente crema"> Historial de Desarrollador por proyecto</button>
        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Total de requerimientos terminados y en ejecución </button>
    </div>

    </br>
    </br>

    <div class="botones text-center">

        <button onclick="location.href = '@Url.Action("", "#")'" class="btn  Desarrollador Cliente crema">Comparacion de tempos estimados y reales en requermientos con misma complejidad</button>
    </div>


    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].hidden = true;
            }
        }
    </script>
</body>
</html>

