@model Proyecto.Models.EmpleadoDesarrollador

@{
    ViewBag.Title = "Details";
}

@* Para las provincias*@
<script>

        $(document).ready(function () {
            //@Html.DisplayFor(model => model.provincia)
            if (@Html.DisplayFor(model => model.provincia) == 1) {
                $("#provincia").html("San José");
            } else if(@Html.DisplayFor(model => model.provincia) == 2){
                $("#provincia").html("Alajuela");
            } else if(@Html.DisplayFor(model => model.provincia) == 3){
                $("#provincia").html("Cartago");
            } else if(@Html.DisplayFor(model => model.provincia) == 4){
                $("#provincia").html("Heredia");
            } else if(@Html.DisplayFor(model => model.provincia) == 5){
                $("#provincia").html("Guanacaste");
            } else if(@Html.DisplayFor(model => model.provincia) == 6){
                $("#provincia").html("Puntarenas");
            } else if(@Html.DisplayFor(model => model.provincia) == 7){
                $("#provincia").html("Limón");
            }

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.provincia) + "/cantones.json",
                data: {},
                success: function (data) {
                    $("#canton").html(data[@Html.DisplayFor(model => model.canton)]);
                }
            });

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.provincia) + "/canton/"+@Html.DisplayFor(model => model.canton)+"/distritos.json",
                data: {},
                success: function (data) {
                    $("#distrito").html(data[@Html.DisplayFor(model => model.distrito)]);
                }
            });
        });

</script>

<div class="container-fluid text-center">



    <h2>Detalles de Empleado</h2>

    <table class="d-flex justify-content-center">
        <tbody>
            <tr style="line-height:50px">
                <th>
                    Cédula
                </th>

                <td>
                    @Html.DisplayFor(model => model.cedulaED)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Nombre
                </th>

                <td>
                    @Html.DisplayFor(model => model.nombreED)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Primer apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido1ED)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Segundo apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido2ED)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Fecha de Nacimiento
                </th>

                <td>
                    @Html.DisplayFor(model => model.fechaNacimiento)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Edad
                </th>

                <td>
                    @Html.DisplayFor(model => model.edad)
                <td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Teléfono
                </th>

                <td>
                    @Html.DisplayFor(model => model.telefono)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Correo
                </th>
                <td>
                    @Html.DisplayFor(model => model.correo)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Provincia
                </th>

                <td>
                    @Html.DisplayFor(model => model.provincia)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Cantón
                </th>

                <td>
                    @Html.DisplayFor(model => model.canton)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Distrito
                </th>

                <td>
                    @Html.DisplayFor(model => model.distrito)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Dirección Exacta
                </th>

                <td>
                    @Html.DisplayFor(model => model.direccionExacta)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Disponibilidad
                </th>

                @*Ve el valor que le pasa el controlador*@
                @*Si esta en true, entonces está disponible*@
                @*Si esta en false, entonces NO está disponible*@
                @if (ViewBag.disp == "true")
                {
                    <td>
                        Sí
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }


            </tr>

            <tr style="line-height:50px">
                <th>
                    Rol
                </th>
                @*Ve el valor que le pasa el controlador del rol*@
                @*Si esta en true, entonces es un  desarrollador*@
                @*Si esta en false, entonces es otro (jefe,soporte, etc), no se atrapan todos porque es una relación ISA*@
                @if (ViewBag.rol == "true")
                {
                    <td>
                        Desarrollador
                    </td>
                }
                else
                {
                    <td>
                        Otro
                    </td>
                }

            </tr>
        </tbody>
    </table>
</div>

<p class="botones text-center">
    <a href="~/EmpleadoDesarrollador/Index" class="btn btn-default ">
        <span></span> Regresar
    </a>
</p>

