@model Proyecto.Models.EmpleadoDesarrollador

@{
                /**/

                ViewBag.Title = "Edit";
}

<script>
    $(document).ready(function () {
        getProvincia();
    })
</script>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid text-center">
        <h2>Editar Empleado</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="d-flex justify-content-center">
            <tbody>
                <tr style="line-height:50px">
                    <th>
                        Cédula <a style="color:red"> *</a>
                    </th>

                    <td required="true">
                        @Html.EditorFor(model => model.cedulaED, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.cedulaED, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Nombre<a style="color:red"> *</a>
                    </th>

                    <td required="true">
                        @Html.EditorFor(model => model.nombreED, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.nombreED, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Primer Apellido<a style="color:red"> *</a>
                    </th>

                    <td required="true">
                        @Html.EditorFor(model => model.apellido1ED, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.apellido1ED, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Segundo Apellido
                    </th>

                    <td>
                        @Html.EditorFor(model => model.apellido2ED, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellido2ED, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Fecha de Nacimiento
                    </th>

                    <td>
                        @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Teléfono
                    </th>

                    <td>
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Correo
                    </th>

                    <td>
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Provincia
                    </th>
                    <td>
                        @Html.DropDownListFor(model => model.provincia, Enumerable.Empty<SelectListItem>(), "Seleccione Provincia", new { @class = "form-control", onchange = "getCanton()" })
                        @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Cantón
                    </th>

                    <td>
                        @Html.DropDownListFor(model => model.canton, Enumerable.Empty<SelectListItem>(), "Seleccione Canton", new { @class = "form-control", onchange = "getDistrict()" })
                        @Html.ValidationMessageFor(model => model.canton, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Distrito
                    </th>

                    <td>
                        @Html.DropDownListFor(model => model.distrito, Enumerable.Empty<SelectListItem>(), "Seleccione Distrito", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.distrito, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Dirección Exacta
                    </th>

                    <td>
                        @Html.TextAreaFor(model => model.direccionExacta, new { htmlAttributes = new { @class = "form-control" }, style = "width: 200px; height: 10em" })
                        @Html.ValidationMessageFor(model => model.direccionExacta, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Fecha de Inicio
                    </th>

                    <td>
                        @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Disponibilidad
                    </th>

                    <td>
                        <div class="checkbox">
                            @Html.DropDownListFor(model => model.disponibilidad, new SelectList(
             new[] {
                                    new { Value = "true", Text = "SI" },
                                    new { Value = "false", Text = "NO" },
             },
             "Value",
             "Text"
         ))
                            @Html.ValidationMessageFor(model => model.disponibilidad, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Rol
                    </th>

                    <td>
                        <div class="checkbox">
                            @Html.DropDownListFor(model => model.flg, new SelectList(
             new[] {
                                    new { Value = "true", Text = "Desarrollador" },
                                    new { Value = "false", Text = "Otro" }
             },
             "Value",
             "Text"
         ))
                            @Html.ValidationMessageFor(model => model.flg, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="botones text-center">
        <input type="submit" value="Aceptar" class="btn btn-success" style="margin: 20px" />
        <a href="~/EmpleadoDesarrollador/Index" class="btn btn-default">
            Cancelar
        </a>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
