@model IEnumerable<Proyecto.Models.Habilidades>

@{
    /**/

    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" / >

</head>
<body onload="Desabilitar();">
    <h2>Lista habilidades</h2>
    <p class=" boton float-right">
        <button onclick="location.href =  '/Habilidades/Create'" class="btn  Lider Desarrollador Cliente btn-lg glyphicon glyphicon-plus float-right cafe"></button>
    </p>

    <table class="table table-striped">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Habilidades
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoDesarrollador.nombreED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conocimientos)
            </td>


            @* <td>
                        <p class="botones">
                            <button onclick="location.href = '@Url.Action(id = item.EmpleadoDesarrollador.cedulaED, habilidad = item.conocimientos)'" class="btn  Lider Desarrollador Cliente btn-danger glyphicon glyphicon-trash float-right "></button>
              </td>*@

            <td>
                <p class="botones">

                    @Html.ActionLink(" ", "Delete", new { id = item.EmpleadoDesarrollador.cedulaED, habilidad = item.conocimientos }, new { @class = "btn Lider Desarrollador Cliente  btn-danger glyphicon glyphicon-trash float-right " })

                </p>
            </td>
        </tr>
        }



    </table>

    <div class="botones text-center">
        <a href="~/EmpleadoDesarrollador/Index" class="btn btn-default ">
            <span></span> Regresar
        </a>
    </div>


    <apex:page controller="HabilidadesController">
        <apex:form id="form">
            <apex:outputText id="script">
                <script>
                function Desabilitar() {
                     var rol = '@ViewBag.user';
                     var lista = document.getElementsByClassName(rol);
                    for (var i = 0; i < lista.length; ++i) {
                        lista[i].setAttribute('readonly', 'readonly');
                        lista[i].hidden = true;
                    }
                 }
                </script>
            </apex:outputText>
            @* <apex:actionFunction action="{!updateVarA}" reRender="script" name="callUpdateA" />
                <button onclick="callUpdateA()">Call Update A</button>
                <button onclick="hello()">Say Something!</button>*@
        </apex:form>
    </apex:page>

</body>

