@model Proyecto.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<script>

        $(document).ready(function () {
            //@Html.DisplayFor(model => model.provincia)
            if (@Html.DisplayFor(model => model.provincia) == 1) {
                $("#provincia").html("San José");
            } else if(@Html.DisplayFor(model => model.provincia) == 2){
                $("#provincia").html("Alajuela");
            } else if(@Html.DisplayFor(model => model.provincia) == 3){
                $("#provincia").html("Cartago");
            } else if(@Html.DisplayFor(model => model.provincia) == 4){
                $("#provincia").html("Heredia");
            } else if(@Html.DisplayFor(model => model.provincia) == 5){
                $("#provincia").html("Guanacaste");
            } else if(@Html.DisplayFor(model => model.provincia) == 6){
                $("#provincia").html("Puntarenas");
            } else if(@Html.DisplayFor(model => model.provincia) == 7){
                $("#provincia").html("Limón");
            }

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.provincia) + "/cantones.json",
                data: {},
                success: function (data) {
                    $("#canton").html(data[@Html.DisplayFor(model => model.canton)]);
                }
            });

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.provincia) + "/canton/"+@Html.DisplayFor(model => model.canton)+"/distritos.json",
                data: {},
                success: function (data) {
                    $("#distrito").html(data[@Html.DisplayFor(model => model.distrito)]);
                }
            });
        });

</script>

<div class="container-fluid text-center">
    <h2>Detalles del Cliente</h2>

    <table class="d-flex justify-content-center">
        <tbody>
            <tr style="line-height:50px">
                <th>
                    Cédula
                </th>

                <td>
                    @Html.DisplayFor(model => model.cedula)
                </td>
            </tr>
        
            <tr style="line-height:50px">
                <th>
                    Nombre
                </th>

                <td>
                    @Html.DisplayFor(model => model.nombre)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Primer apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido1)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Segundo apellido
                </th>

                <td>
                    @Html.DisplayFor(model => model.apellido2)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Teléfono
                </th>

                <td>
                    @Html.DisplayFor(model => model.telefono)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Provincia
                </th>

                <td>
                    <span id="provincia"></span>
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Cantón
                </th>

                <td>
                    <span id="canton"></span>
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Distrito
                </th>

                <td>
                    <span id="distrito"></span>
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Dirección Exacta
                </th>

                <td>
                    @Html.DisplayFor(model => model.direccionExacta)
                </td>
            </tr>
        </tbody>
    </table>

    <p class=" boton">
        <a href="~/Cliente/Index" class="btn btn-default " >
            <span></span> Regresar
        </a>
    </p>
</div>



