@model IEnumerable<Proyecto.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>

<body onload="Desabilitar();">

    <div class=" Container" align-items-center>
        <h2>Lista de clientes</h2>
        <p class=" boton float-right">
            <button onclick="location.href = 'Cliente/Create'" class="btn  Lider Desarrollador Cliente btn-lg glyphicon glyphicon-plus float-right " style="background: #5B3924; color:white"></button>
        </p>

        <table class="table table-striped">
            <tr>
                <th>
                    Cédula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Primer Apellido
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.cedula, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        @Html.ActionLink(item.nombre, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        @Html.ActionLink(item.apellido1, "Details", new { id = item.cedula })
                    </td>
                    <td>
                        <p class="botones">
                            <button onclick="location.href ='@Url.Action(item.cedula, "Cliente/Edit")'" class="btn Lider Desarrollador Cliente btn-info glyphicon glyphicon-wrench float-right "></button>
                            <button onclick="location.href = '@Url.Action(item.cedula, "Cliente/Delete")'" class="btn  Lider Desarrollador Cliente btn-danger glyphicon glyphicon-trash float-right "></button>
                        </p>
                    </td>
                </tr>
            }

        </table>

    </div>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                 lista[i].setAttribute('readonly', 'readonly');
                 lista[i].hidden = true;
            }
        }
    </script>

    <script>
        function negrita() {
       
            var cliente = document.getElementsByClassName("cliente");
            cliente.element.classList.add("btn-danger");
        }
    </script>


</body>
