@model Proyecto.Models.Modulo

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="container-fluid text-center">



    <h2>Agregar Módulo</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="d-flex justify-content-center">
        <tbody>
            <tr>
                <th>
                    Nombre de Proyecto  <a style="color:red"> *</a>
                </th>
                <td required="true">

                    @*Dropdown list con datos de modulo*@
                    @Html.DropDownListFor(model => Model.NombreProy,
                    ((Proyecto.Controllers.ModuloeController)this.ViewContext.Controller).getProyectos(),
                    "Seleccione Proyecto",
                    new { @class = "form-control"})

                    @Html.ValidationMessageFor(model => model.NombreProy, "", new { @class = "text-danger" })
                </td>
            </tr>


            <tr>
                <th>
                    Nombre de Modulo  <a style="color:red"> *</a>
                </th>
                <td required="true">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>


    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-success" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default btn-default" })
    </div>
    <div class="botones text-right">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default " })
    </div>



</div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

