<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camaik</title>
    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    @Scripts.Render("~/Scripts/Distribuciones.js")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.css")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css‌​/bootstrap-glyphicon‌​s.css">
    <style>

        .dropbtn {
            background-color: #808080;
            background-color: transparent;
            color: white;
            padding: 16px;
            opacity: 0.6;
            font-size: 16px;
            border: none;
        }

        .cafe {
            background: #5B3924;
            color:white;
        }
  
        a {
            font: oblique 600%;
            color: black;
            font-size: 150%;
        }
        th {
            font: oblique 600%;
            color: black;
            font-size: 150%;
        }
        h1 {
            font: oblique 600%;
            color: black;
            font-size: 400%;
        }
        h2 {
            font: oblique 600%;
            color: black;
            font-size: 250%;
        }
 

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #808080;
        }
    </style>
</head>
<body>
    <h1 class=" titulo text-center " >Software Expert S.A </h1>
    <nav class="navbar navbar-expand-lg navbar-dark   " style="background: #5B3924">
        <a class="navbar-brand" href="#">Camaik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a style="color:white" class=" proyecto nav-item nav-link" href="~/Proyecto">Proyectos</a>
                </li>

                <li class="nav-item">
                    @if ((string)System.Web.HttpContext.Current.Session["rol"] == "Jefe" || (string)System.Web.HttpContext.Current.Session["rol"] == "Lider")
                    {
                        <a style="color:white" class=" equipo nav-item nav-link" href="~/Equipo">Equipo</a>
                    }
                </li>

                <li class="nav-item">
                    <a style="color:white" class="modulo nav-item nav-link" href="~/Moduloe">Modulo</a>
                </li>

                <li class="nav-item">
                    <a style="color:white" class="requerimiento nav-item nav-link" href="~/Requerimiento">Requerimientos</a>
                </li>

                <li class="nav-item">
                    <a style="color:white" class=" empleado nav-item nav-link" href="~/EmpleadoDesarrollador">Empleado</a>
                </li>

                <li class="nav-item cliente" onclick="negrita();">
                    <a style="color:white" class="cliente nav-item nav-link" href="~/Cliente">Cliente</a>
                </li>


                <li class="nav-item cliente" onclick="negrita();">
                    <a style="color:white" class="cliente nav-item nav-link" href="~/Reporteria">Reportería</a>

                </li>

            </ul>

        </div>
    
        <div class="dropdown">
            <button class="dropbtn">
                Información de usuario
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <div class="dropdown-content">

                @{
                    string nombre = (string)System.Web.HttpContext.Current.Session["nombreUsuario"];
                    <a href="#">@nombre</a>
                }
                <a class=" btn-danger" href="~/Autenticar">Cerrar Sesión</a>
            </div>
        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="fixed-bottom  pt-4 pb-4 cafe " style="background: #5B3924">
        <div class="copyright text-sm-center text-white small">
           Copyright &copy; 2019 <span>Camaik</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>