
@{
     ViewBag.Title = "Desarrolladores en proyectos y disponibles"; @*Titulo que esta en el estandar *@
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
@if ((string)System.Web.HttpContext.Current.Session["rol"] == "Lider" || (string)System.Web.HttpContext.Current.Session["rol"] == "Jefe")
{







    <h2>@ViewBag.Title</h2>

    <p class=" boton float-right">
        <button onclick="location.href = '@Url.Action("", "Reporteria")'" class="btn  float-right " style="background: #5B3924; color:white">Regresar</button>
    </p>
  @*Permite a la columna de la derecha poderse ordenar y recibir empleados de la columna de la izquierda@

  Llamo al codigo de java script que se encuentra es esa ruta*@



<body onload="Desabilitar();">
    @*Codigo de los estilos de la lista y de las etiquetas arriba de estas*@
    <style>


        #sortable tr:hover {
            background-color: #0094ff;
            color: #fff;
            margin: 30px;
        }

        #sortable2 tr:hover {
            background-color: #0094ff;
            color: #fff;
            margin: 30px;
        }

        tbody {
            float: left;
            width: 200px;
            height: 250px;
        }
    </style>
    <div class="  container-fluid text-center">
        <div class=" Desarrollador Cliente modal-body row">
            <div class=".col-6 .col-sm-6">
                @*Estilo para la letra de arriba de la columna*@
                <p style="font-size:16px; color:#000000; font-weight:bold; font-style:italic;"> Desarrolladores Asignados</p>
                <p></p>
                @*Tabla que se encuentra arriba de las listas y despliega la etiqueta con cedula y nombre*@
                <table class="table table-responsive-md">
                    <thead style="background-color:#5B3924">
                        <tr>
                            <th style="color:aliceblue">Nombre y apellido</th>
                            @* <th style="color:aliceblue">Apellido</th>*@
                            <th style="color:aliceblue">Proyecto</th>
                            <th style="color:aliceblue">Fecha inicio</th>
                            <th style="color:aliceblue">duracion estimada</th>
                        </tr>
                    </thead>
                    <tbody id="disponibilidad" style="cursor:pointer;">
                        @*Id es lo que reconoce el script de mas arriba*@
                        @*Listado de los desarrolladores disponibles *@
                        @if (TempData["datos"] != null)
                        {
                            foreach (var item in TempData["datos"] as List<Proyecto.Models.ViewModels.infoEmpleados>)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { cedula = item.equipo.cedulaEM_FK })"><i>@item.equipo.EmpleadoDesarrollador.nombreED</i></a>
                                    </td>
                                    <td class="taskSingleInline" id="task@(item.equipo.cedulaEM_FK)" data-taskid="@(item.equipo.cedulaEM_FK)">
                                        <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { cedula = item.equipo.cedulaEM_FK })"><i>@item.equipo.EmpleadoDesarrollador.apellido1ED</i></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { cedula = item.equipo.cedulaEM_FK })"><i>@item.equipo.nombreProy_FK</i></a>
                                    </td>
                                    <td class="taskSingleInline" id="task@(item.equipo.cedulaEM_FK)" data-taskid="@(item.equipo.cedulaEM_FK)">
                                        <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { cedula = item.equipo.cedulaEM_FK })"><i>@item.equipo.Proyecto.fechaInicio</i></a>
                                    </td>
                                    <td class="taskSingleInline" id="task@(item.equipo.cedulaEM_FK)" data-taskid="@(item.equipo.cedulaEM_FK)">
                                        <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { cedula = item.equipo.cedulaEM_FK })"><i>@item.durEstimada</i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class=" Desarrollador Cliente col">
            </div>
            <div class=".col-15 .col-sm-4">
                @*Estilo para la letra de arriba de la columna*@
                <p style="font-size:16px; color:#000000; font-weight:bold; font-style:italic;"> Empleados Disponibles</p>
                <!-- codigo de segunda colunma-->
                @*Aqui deberia de anadir el boton que llama al script de asignar miembros*@

                <table class="table table-responsive-md">
                    <thead style="background-color:#5B3924">
                        <tr>
                            <th style="color:aliceblue">Nombre y apellido</th>
                        </tr>
                    </thead>
                    <tbody id="asignacion" style="cursor:pointer;">
                        @*Id que identifica en los scripts de arriba*@
                        @*Lista de la derecha de los empleados que ya estan asignados a un proyecto*@
                        @if (TempData["empleadosDisponibles"] != null)
                        {
                            foreach (var item in TempData["empleadosDisponibles"] as List<Proyecto.Models.EmpleadoDesarrollador>)
                            {
                                if (item.disponibilidad == true && item.flg == true)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { id = item.cedulaED })"><i>@item.nombreED</i></a> @*Hace que a la cedula se le pueda hacer click para llevar a la consulta del empleado*@
                                        </td>
                                        <td class=" taskSingleInline" id="task@(item.cedulaED)" data-taskid="@(item.cedulaED)">
                                            <a href="@Url.Action("Details", "EmpleadoDesarrollador", new { id = item.cedulaED })"><i>@item.apellido1ED</i></a>  @*Hace que al nombre se le pueda hacer click para llevar a la consulta del empleado*@
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                 lista[i].setAttribute('readonly', 'readonly');
                 lista[i].hidden = true;
            }
        }
    </script>
</body>



}
else
{
<h1> Lo sentimos, no puede ver este contenido.</h1>
}



