@{
    /**/

    /**/

    /**/

    ViewBag.Title = "EstadoReq";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>


@{
    string nombre = (string)System.Web.HttpContext.Current.Session["nombreUsuario"];
}

@if ((string)System.Web.HttpContext.Current.Session["rol"] == "Cliente")
{

    <div class=" Container" align-items-center>
        <h2>Estado y responsable de cada requerimiento</h2>

        <p class=" boton float-right">
            <a href="~/Reporteria/Index" class="btn btn-default " style="background: #5B3924; color:white">
                <span></span> Regresar
            </a>
        </p>


        @using (Html.BeginForm())
        {
            <fieldset>
                <div class="display-label">
                    <p style="color:red"> Buscar por Proyecto</p>
                </div>
                <div class="editor-field">

                    <form action="/Reporteria/EstadoRequerimiento" method="post">
                        @if ((string)System.Web.HttpContext.Current.Session["rol"] == "Cliente")
                        {
                            @Html.DropDownList("Proyecto", ((Proyecto.Controllers.ReporteriaController)this.ViewContext.Controller).getProyectos("Cliente", (string)System.Web.HttpContext.Current.Session["cedula"]), "Todos los Proyectos", new { @class = "form-control" })
                            <br />
                            <br />
                            <div class="display-label">
                                <p style="color:red"> Ordenar por: </p>
                            </div>
                            @Html.DropDownList("ordenado", ((Proyecto.Controllers.ReporteriaController)this.ViewContext.Controller).getOrdenamiento(), "Modo de ordenamiento", new { @class = "form-control", @onchange = "this.form.submit()" })
                        }
                        <noscript><input type="submit" value="Submit"></noscript>
                    </form>
                </div>

            </fieldset>
        }
        <br />
        <br />

        <table class="table table-striped">
            <tr>
                <th>
                    Nombre de Cliente
                </th>
                <th>
                    Nombre de Proyecto
                </th>
            </tr>


            <tr>
                <td>
                    @nombre
                </td>


                <td>
                    @ViewBag.Proy
                </td>

            </tr>


        </table>


        <table class="table table-striped">

            <tr>
                <th>
                    Nombre Requerimiento
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Responsable
                </th>
            </tr>



            @foreach (var item in Model)
            {
                string datosObtenidos = item.ToString();

                string[] datos = datosObtenidos.Split(' ');

                if (datos.Length == 6)
                {
                    <tr>
                        <td>
                            @datos[0]
                        </td>

                        <td>
                            @datos[1]  @datos[2]
                        </td>

                        <td>
                            @datos[3] @datos[4] @datos[5]
                        </td>

                    </tr>

                }
                else
                {
                    <tr>
                        <td>
                            @datos[0]
                        </td>

                        <td>
                            @datos[1]
                        </td>

                        <td>
                            @datos[2] @datos[3] @datos[4]
                        </td>

                    </tr>

                }

            }
        </table>

        <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].setAttribute('readonly', 'readonly');
                lista[i].hidden = true;
            }
        }
        </script>

    </div>
}
else
{
    <h1> Lo sentimos, no puede ver este contenido.</h1>
}


