@{
                ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <style>
        .btn {
            width: 700px;
            height: 30px;
        }
        .bt {
            width: 100px;
            height: 30px;
            background: white;
            border:0px;
        }
    </style>

</head>

<body onload="Desabilitar();">

    <div class=" Container" align-items-center>
        <h2 style="text-align:center">Consultas</h2>

        <table class="d-flex justify-content-center">
            <tbody>
                <tr style="line-height:50px">
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/DesarrolladoresProyDis")'" class="btn Cliente Desarrollador " style="background: #5B3924; color:white">Desarrolladores en proyectos y disponibles</button>
                        </div>
                    </th>
                    <th style="width: 200px">
                        <button class="bt"></button>
                    </th>
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/Estadodesarrollorequerimientos")'" class="btn Cliente" style="background: #5B3924; color:white">Estado del desarrollo de los requerimientos</button>
                        </div>
                    </th>
                </tr>

                <tr style="line-height:50px">
                    <th >
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/ComparacionComplejidad")'" class="btn Cliente Desarrollador Lider" style="background: #5B3924; color:white">Comparación de estimaciones y valores reales por requerimiento con igual nivel de complejidad</button>
                        </div>
                    </th>
                    <th style="width: 200px">
                        <button class="bt"></button>
                    </th>
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/PeriodosDisponibles")'" class="btn Desarrollador Cliente Lider" style="background: #5B3924; color:white">Períodos de desocupación</button>
                        </div>
                    </th>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/TiemposRequerimiento")'" class="btn Desarrollador Cliente Lider " style="background: #5B3924; color:white">Comparación de estimaciones y valores reales por requerimiento</button>
                        </div>
                    </th>
                    <th style="width: 200px">
                        <button class="bt"></button>
                    </th>
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/TotalReqTerminadosEnEjecucion")'" class="btn Jefe Desarrollador Lider" style="background: #5B3924; color:white">Total de requerimientos terminado y en ejecución</button>
                        </div>
                    </th>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/HistorialDesarrollador")'" class="btn Cliente Desarrollador Lider " style="background: #5B3924; color:white">Historial sobre participación, rol y total de horas de un desarrollador por proyecto</button>
                        </div>
                    </th>
                    <th style="width: 200px">
                        <button class="bt"></button>
                    </th>
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("DesarrolladoresPorConocimiento")'" class="btn Lider Desarrollador Cliente" style="background: #5B3924; color:white">Número desarrolladores por conocimiento y promedio de tiempo de trabajo</button>
                        </div>
                    </th>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("","Reporteria/HorasProyecto")'" class="btn Desarrollador Cliente" style="background: #5B3924; color:white">Total de horas estimadas y reales por proyecto</button>
                        </div>
                    </th>
                    <th style="width: 200px">
                        <button class="bt"></button>
                    </th>
                    <th>
                        <div class=" boton float-left">
                            <button onclick="location.href = '@Url.Action("EstadoRequerimiento")'" class="btn Lider Desarrollador Jefe" style="background: #5B3924; color:white">Estado y responsable de cada requerimiento</button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>

      
    </div>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].setAttribute('readonly', 'readonly');
                lista[i].disabled = true;
            }
        }
    </script>

</body>



