<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
@{
    Layout = null;
}
<table class="table table-striped table-bordered">
    <tr>
        @if (ViewBag.todos == "si")
        {
            <th>
                Nombre del proyecto
            </th>
        }
        <th>
            Nombre del requerimiento
        </th>
        <th>
            Complejidad
        </th>
        <th>
            Duración estimada (horas)
        </th>
        <th>
            Duración real (horas)
        </th>
        <th>
            Diferencia (horas)
        </th>
    </tr>
    </br>
    </br>

    @foreach (var item in Model)
    {
        string datos = item.ToString();

        string[] lista = datos.Split(',');
        <tr>
            @if (ViewBag.todos == "si")
            {
                <td>
                    @lista[0]


                </td>
            }
            <td>
                @lista[1]

            </td>
            <td>
                @lista[2]
            </td>
            <td>
                @lista[3]
            </td>
            <td>
                @lista[4]
            </td>
            <td>
                @lista[5]
            </td>
        </tr>
    }

</table>
