@{
       ViewBag.Title = "Total de requerimientos finalizados y en ejecucion"; @*Titulo que esta en el estandar *@
}
@if ((string)System.Web.HttpContext.Current.Session["rol"] == "Cliente" || (string)System.Web.HttpContext.Current.Session["rol"] == "Jefe")
{



    <h2>@ViewBag.Title</h2>

    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <div class="  container-fluid text-center">
        <form action="~/Reporteria/TotalReqTerminadosEnEjecucion" method="post">
            @Html.AntiForgeryToken()
            @if ((string)System.Web.HttpContext.Current.Session["rol"] == "Cliente")
            {
                @Html.DropDownList("filtro", ((Proyecto.Controllers.ReporteriaController)this.ViewContext.Controller).getProyectos("Cliente", (string)System.Web.HttpContext.Current.Session["cedula"]), "Seleccione un Proyecto", new { @class = "form-control", @onchange = "this.form.submit()" })
            }
            <noscript><input type="submit" value="Submit"></noscript>
        </form>
    </div>
    <p class=" boton float-right">
        <button onclick="location.href = '@Url.Action("", "Reporteria")'" class="btn  float-right " style="background: #5B3924; color:white">Regresar</button>
    </p>

    <div class="  container-fluid text-center">
        <div class=" Container" align-items-center>
            <table class="table table-striped table-bordered">
                <tr style="line-height:50px">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Proyecto
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Duracion Estimada
                    </th>
                </tr>
                @foreach (var item in TempData["Lista"] as List<Proyecto.Models.ViewModels.TotalReqPorCliente>)
                {
                    <tr style="line-height:50px">
                        <td>
                            @item.nombreCliente
                        </td>
                        <td>
                            @item.apellidoCliente
                        </td>
                        <td>
                            @item.nombreProy
                        </td>
                        <td>
                            @item.total
                        </td>
                        <td>
                            @item.estado
                        </td>
                        <td>
                            @item.durEstimada
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <h1> Lo sentimos, no puede ver este contenido.</h1>
}