@model Proyecto.Models.Proyecto

@{
    ViewBag.Title = "Delete";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid text-center">
        <h2>Eliminar Proyecto</h2>
        <h3 style="color:#FF0000" ;> ¿Está seguro que desea eliminar este Proyecto?</h3>

        <table class="d-flex justify-content-center">
            <tbody>
                <tr style="line-height:50px">
                    <th>
                        Nombre
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.nombre)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Objetivo
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.objetivo)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Fecha de Inicio
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.fechaInicio)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Nombre de Cliente
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Cliente.nombre)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Nombre de Líder
                    </th>

                    <td>
                      @ViewBag.lider
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Duración Estimada
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.duracionEstimada)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Costo de Trabajo
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.costoTrabajo)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Costo Estimado
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.costoEstimado)
                    </td>
                </tr>

                <tr style="line-height:50px">
                    <th>
                        Fecha de Finalización
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.fechaFinalizacion)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="botones text-center">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a href="~/Proyecto" class="btn btn-default">
           Cancelar
        </a>
    </div>
}





