@model Proyecto.Models.Proyecto

@{
    ViewBag.Title = "Edit";
}


    <body onload="Desabilitar();">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container-fluid text-center">
                <h2>Editar Proyecto</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table class="d-flex justify-content-center">
                    <tbody>
                        <tr style="line-height:50px">
                            <th>
                                Nombre Proyecto<a style="color:red"> *</a>
                            </th>

                            <td required="true" readonly>
                                @Html.TextBoxFor(model => model.nombre, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr style="line-height:50px">
                            <th class="Lider">
                                Objetivo<a style="color:red"> *</a>
                            </th>

                            <td required="true">
                                @if (ViewBag.rol != "Jefe")
                                {
                                    @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control Lider", required = "required" }, style = "width: 300px; height: 10em" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control Lider", required = "required" }, style = "width: 300px; height: 10em" })
                                }
                                @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr style="line-height:50px">
                            <th class="Lider">
                                Fecha de inicio<a style="color:red"> *</a>
                            </th>
                            <td required="true">
                                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control Lider", required = "required", type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr style="line-height:50px">
                            <th class="Lider">
                                Nombre de Cliente<a style="color:red"> *</a>
                            </th>

                            <td>
                                @Html.DropDownList("cedulaCliente", null, htmlAttributes: new { @class = "form-control Lider" })
                                @Html.ValidationMessageFor(model => model.cedulaCliente, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr style="line-height:50px">
                            <th>
                                Nombre de Lider<a style="color:red"> *</a>
                            </th>

                            <td>
                                @Html.DropDownList("cedulaLider", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled", @required = "required" })

                            </td>
                        </tr>
                        <tr style="line-height:50px">
                            <th>
                                Duración Estimada
                            </th>

                            <td>
                                @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr style="line-height:50px">
                            <th>
                                Costo de Trabajo
                            </th>

                            <td>
                                @Html.EditorFor(model => model.costoTrabajo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.costoTrabajo, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr style="line-height:50px">
                            <th>
                                Costo Estimado
                            </th>
                            <td>
                                @Html.EditorFor(model => model.costoEstimado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.costoEstimado, "", new { @class = "text-danger" })
                            </td>
                        </tr>


                        <tr style="line-height:50px">
                            <th>
                                Fecha de Finalización
                            </th>

                            <td>
                                @Html.EditorFor(model => model.fechaFinalizacion, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechaFinalizacion, "", new { @class = "text-danger" })
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>


            <div class="botones text-center">
                <input type="submit" onclick="habilitar();" value="Aceptar" class="btn btn-success text-center" />
                <a href="~/Proyecto" class="btn btn-default text-center">
                    Cancelar
                </a>

            </div>

        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

        <script>
        function habilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].disabled = false;
            }
        }
        </script>

        <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].disabled = true;
            }
        }
        </script>

    </body>