@model IEnumerable<Proyecto.Models.Proyecto>

@{
    ViewBag.Title = "Proyectos";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>
<body onload="Desabilitar();" style="background-color: white">


    <div class=" Container" align-items-center>
        <h2>Lista de Proyectos</h2>
        <p class=" boton float-right">
            <button onclick="location.href = 'Proyecto/Create'" class="btn Lider Desarrollador Cliente btn-lg glyphicon glyphicon-plus float-right " style="background: #5B3924; color:white"></button>
        </p>
        <table class="table table-striped table-bordered">
            <tr style="line-height:50px">
                <th>
                    Nombre
                </th>
                <th>
                    Nombre de Cliente
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="line-height:50px">
                    <td>
                        @Html.ActionLink(item.nombre, "Details", new { id = item.nombre })
                    </td>
                    <td>
                        @Html.ActionLink(item.Cliente.nombre, "Details", new { id = item.nombre })
                    </td>

                    <td>
                        <p class="botones">
                            <button onclick="location.href ='@Url.Action(item.nombre, "Proyecto/Edit")'" id="item.nombre" class="btn Desarrollador Cliente btn-info glyphicon glyphicon-wrench float-right "></button>
                            <button onclick="location.href = '@Url.Action(item.nombre, "Proyecto/Delete")'" class="btn  Lider Desarrollador Cliente btn-danger glyphicon glyphicon-trash float-right "></button>
                        </p>
                    </td>
                </tr>
            }

        </table>

    </div>


    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].hidden = true;
            }
        }
    </script>
</body>
</html>
